* {
    font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
}

.navlink {
    display: inline;
}

#navbar {
    text-align: right;
    background-color: #b2dcf9;
    padding: 10 px;
}

a {
    text-decoration: none;
}

#main {
    text-align: center;
}

#contact {
    text-align: center;
    background-color: rgb(244, 148, 180);
    padding-bottom: 20px;
    padding-top: 10px;
}

#contact-button {
    margin-top: 5px;
    padding: 5px;
    background: #b2dcf9;
    border-radius: 5%;

}

footer {
    background-color: #b2dcf9;
    text-align: center;
    color: black;
}